body {
  display: block;
}

.gallery-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

.gallery-item {
  align-items: center;
  margin-top: 1rem;
  /*border: 1px solid gray;*/
}

.grid-image {
  max-width: 1920px;
  height: 10rem;
  aspect-ratio: 1920/1080;
  object-fit: cover;
}

p.description {
  text-align: justify;
  font-size: 1.2rem;
  margin: 0 15%;
}

.poster {
  width: 70%;
  margin: 0 15%;
}

h2 {
  text-align: center;
}

.backButton {
  margin: 1rem 40%;
}